html,body{
    
}

h3 {
    margin:0;
    color:blue;
}

p {
    color: red;
}

p {
    color:greenyellow;
}

div.div-content{
    background-color: black !important;
    color:yellow;
    margin:1rem 0;
}

div.div-content:nth-child(1)
{
    color:red;
    border: 3px solid red;
}




table
{
    border:1px solid grey;
}

table tr td, table tr th {
    border:1px solid grey;
    text-align: center;
    padding:.25rem .5rem;
}